@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
//@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body{
  margin: 0px 0px;
  height: 100%;
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

div:focus{
  outline: none;
}

a{
  text-decoration: none;
}
